<!--
Making changes to the database by an admin
Authors: Cameron, Bartosz

-->

{% extends "base.html" %}
<!--
Sidebar setup
-->
{% block barcontent %}
    <li><a href="/">Home</a></li>
    <li><a href="/map">Map</a></li>
    <li><a href="/search">Search</a></li>
    <!--
    Checking that the user is authenticated as an admin
    -->
    {% if current_user.is_authenticated %}
        <li><a href="/logout">Logout</a></li>
    {% endif %}
{% endblock %}
{% block bodycontent %}
<div style="margin-left:15%;padding:1px 16px;">
    <h1 style="text-align: left">
        <span style="font-family:Pacifico">DestiKnow</span>
        <img align="right" src="/static/images/logo.png" width="80" height="80" align="right">
    </h1>
    <!--
    Checking valid country being serched for, if valid shows editing columns
    -->
    {% if country_form %}
        <form method="POST">
            {{ country_form.csrf_token }}
            <p class="edit-form">Name: {{ country_form.name(size="64") }}</p>
            <p class="edit-form">Description: {{ country_form.description(rows="5", cols="128") }}</p>
            <p class="edit-form">Travel advice: {{ country_form.travel_advice(rows="5", cols="128") }}</p>
            <p class="edit-form">Crime index: {{ country_form.crime_index(size="10") }}</p>
            <p class="edit-form">Disaster risk: {{ country_form.disaster_risk(size="10") }}</p>
            <p class="edit-form">Corruption index: {{ country_form.corruption_index(size="10") }}</p>
            <p class="edit-form">Health index: {{ country_form.health(size="10") }}</p>
            <p class="edit-form">Save changes: {{ country_form.submit() }}</p>
        </form>
    {% else %}
        <form method="POST">
            {{ search_form.csrf_token }}
            {{ search_form.search() }}
            {{ search_form.submit() }}
        </form>
    {% endif %}
</div>
{% endblock %}