{% extends "base.html" %}

{% block barcontent %}
    <li><a href="/">Home</a></li>
    <li><a href="/map">Map</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/admin">Admin</a></li>
    {% if not current_user.is_authenticated %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    {% endif %}
    {% if current_user.is_authenticated %}
        <li><a href="/logout">Logout</a></li>
    {% endif %}
{% endblock %}
{% block bodycontent %}

<div style="margin-left:15%;padding:1px 16px;">
    <h1 style="text-align: left">
        <span style="font-family:Pacifico">DestiKnow</span>
        <img align="right" src="/static/images/logo.png" width="80" height="80" align="right">
    </h1>
    <h2>Register</h2>
</div>
<div style="margin-left:15%;padding:8px 16px;">
<form method="POST">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username() }}
    {{ form.password.label }} {{ form.password() }}
    {{ form.confirm_password.label }} {{ form.confirm_password() }}
    {{ form.submit() }}
</form>
</div>

{% endblock %}